/* 共通 */
* {
    color: #555555;
}

.title {
    color: #007bff;
    text-align: center;
    text-shadow: .1em .1em .1em #cccccc;
    font-size: 2rem;
    margin: .5em auto;
}

.result {
    height: 30vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 25vh;
}

.buttons {
    text-align: center;
    margin: .5rem auto;
}

.latest {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.latest div:nth-child(1) {
    text-align: right;
}

.latest div:nth-child(2) {
    font-weight: bold;
}

.remain .filled-amount {
    font-weight: bold;
    font-size: 1.4rem;
}

.remain .remain-amount {
    font-size: .8rem;
}

.remain button {
    margin: 0 .5rem;
}

.hidden {
    display: none;
}
